/* .container{
    height: 90vh;
    width: 55vw;
    border: 5px solid #dadce0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
  
  }
  .right img{
      width: 100%;
      
      margin: 9rem 2.7rem;
  }
  .left img{
      width: 30%;
  }
  .right p{
      text-align: center;
      
      margin: -9rem 0.5rem;
      width: 70%;
  } 


.bottomLink{
	width: 100%;
	display: flex;

	margin-top: 2.5rem;
}

 */
