.container{
    height: 90vh;
    width: 55vw;
    border: 5px solid #dadce0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
  
  }
  .right img{
      width: 70%;
      
      margin: 9rem 2.7rem;
  }
  .left img{
      width: 30%;
  }
  .right p{
      text-align: center;
      
      margin: -9rem 0.5rem;
      width: 70%;
  } 

  h3{
	color: #2d3436;
	margin: 2rem 0;
}
form span{
	color: gray;
	width: 100%;
	font-size: 0.8rem;
	margin-left: 3%;
}

form a{
	text-decoration: none;
	font-weight: 500;
	font-size: 1rem;
	color: #3498db;
	margin-left: 2%;
}
.bottom-link{
	width: 100%;
	display: flex;

	margin-top: 2.5rem;
}


