/* .mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: "100vh";
  width: "100vw";
}

.container {
  height: 85vh;
  width: 45vw;
  border: 2px solid  #dadce0 ;
  border-radius: 25px;
  margin-top: 45px ;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.google {
  width: 18%;
  margin-left: 50px;
  margin-top: 50px;
}
.googleImg {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.spans {
  color: #202124;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  word-break: break-word;
  margin-left: 50px;
}
.names {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
}
.userName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
}
.you {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 60px;
  margin-top: 8px;
}
.youC {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 15px;
  color: #5f6368;
}

.current {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.write {
  color: #1a73e8;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  margin-left: 50px;
}

.passbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 50px;
}
.letter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.use {
  margin-left: 60px;
  font-size: 15px;
  color: #5f6368;
}
.bottom-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.right {
  display: flex;
  flex-direction: column;
  margin: 110px 4px 0px 10px;
}
.logoside {
  width: 244px;
  aspect-ratio: auto 244 / 244;
  height: 244px;
}
.logotxt {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4286;
  color: #202124;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
  margin-right: 10px;
}
.SecondDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
