.notebox{
    display: flex;
    flex-direction: row;
    border-color: black;
    height: 25vh;
     margin-left: 5px;
    margin-top: 7px; 
    justify-content:space-between;
    width: 20vw;
    border: 1px solid black
    
    
}


.insidebox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 99%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    justify-content: flex;
}
.title{
    margin-left: 20%;
    margin-bottom: 20%;
    margin-top: 40;
}
.note-txt3{
    padding-inline-start: 3%;
}
.description{
    height: 50%;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    height: 30%;
    margin-bottom: 100;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}
.buttonmodal{
    display: flex;
    padding: 5px;
    width: 65%;
    justify-content: space-between;
}   
.closebtn{
    margin-right: 25px;
}